// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rech 
{
  font-size: 2.3rem;

  .row
  {
    border: 1px solid lightgrey;
    border-radius: 2%;
    margin-bottom: 5%;
    
    .machin
    {
      margin-top: 7%;
    }

  }

  .btn-defi
  {
    width: 70%;
    height: 32px;
    font-size: 14px;
    margin-top: 10%;
  }
}